@import "tailwindcss";

@theme {
  --color-blue-950: #15202A;
  --color-blue-500: #4C7BF3;
  --color-blue-200: #C2D3FF;

  --color-gray-400: #969696;

  --color-red-400: #FF5466;

  --font-libre: "Libre Franklin", sans-serif;
  --text-base: 20px;
  --leading-base: 125%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Libre Franklin", sans-serif;
}